*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: wheat;
}
.layout{
    display: grid;
    grid-gap: 50px;
    max-width: 1200px;
    min-width: 375px;
    margin: auto;
    padding-top: calc(50vh - 300px);
    max-height: 760px;
    min-height: 250px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.clearfix::after{
    display: table;
    content: "";
    clear: both;
}
.left{
    float: left;
}
.inline-block{
    display: inline-block;
}
.item{
    background-color: white;
    box-shadow: 2px 2px 10px black;
    border-radius: 15px;
}
/* SPACING */
.item__spacing{
    margin: 20px 0;
}
.item__container{
    padding: 30px;
}
/* ////SPACING */
/* TYPO */
.item__text--white{
    color: white;
}
.item__text--white p{
    color: rgba(255,255,255,0.5);
}
.item h3, .item h2{
    font-weight: 500;
}
/* ////TYPO */
.item.a{
    grid-column: 1 / span 2;
    grid-row: 1/2;
    background-color: hsl(263, 55%, 52%);
}
.item.b{
    background-color: hsl(217, 19%, 35%);
}
.item.c{
    grid-column: 4/5;
    grid-row: 1/span 2;
}
.item.e{
    grid-column: 2/ span 2;
    grid-row: 2/2;
    background-color: hsl(219, 29%, 14%);
}
.item__a--backgroundQuote{
    background-image: url(../img/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position-x: 90%;
}

.item__header__text--margin>*{
    line-height: 23px;
    margin-left: 12px;
    vertical-align: middle;
}

.item__header__image--logo{
    width: 47px;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.5);
}